# dependencies
/node_modules

# production
/.next
/out

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# local env files
.env*.local

# typescript
*.tsbuildinfo

# vscode
.vscode 